/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@font-face {
    font-family: 'AgustinaSignature';
    src: url("fonts/Agustina.woff");
    

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 50px;
    margin: auto;
}
.about, .education, .skills, .teams, .contact, contact{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.education .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 20px;
    font-weight: 350;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #003399;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: #003399;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    font-family: 'Ubuntu',sans-serif;
    color: #fff;
    font-size: 30px;
    font-weight: 1;
    
}
.navbar .logo a span{
    Font-family: "AgustinaSignature";
    padding: 0 10px;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 15px;
    font-weight: 350;
    margin-left: 20px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: #003399;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #003399;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}


/* home section styling */
.home{
    display: flex;
    background: url("images/TechnoWallMaterial.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 70px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: #2d65d4;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: #003399;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #003399;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: #003399;
    background: none;
}


/* about section styling */
.about .title::after{
    content: "who i am";
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 390px;
    width: 390px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #112242;
    box-shadow: 2px 2px 5px 0px rgb(24, 18, 41);
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: #003399;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: #003399;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #003399;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: #003399;
    background: none;
}

/* education section styling */
.education, .teams{
    color:#fff;
    background: #111;
}
.education .title::before,
.teams .title::before{
    background: #fff;
}
.education .title::after,
.teams .title::after{
    background: #111;
    content: "what i do";
}
.education .serv-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    /*cursor: pointer;*/
    transition: all 0.3s ease;
}
.education .serv-content .card:hover{
    background: #003399;
}
.education .serv-content .card .box{
    transition: all 0.3s ease;
}
.education .serv-content .card:hover .box{
    transform: scale(1.05);
}
/*.education .serv-content .card i{
    font-size: 50px;
    color: #003399;
    transition: color 0.3s ease;
}
.education .serv-content .card:hover i{
    color: #fff;
}*/
.education .serv-content .card img{
    height: 250px;
    width: 250px;
    
    object-fit: cover;
    /*border-radius: 50%;
    border: 5px solid #003399;*/
    transition: all 0.3s ease;
}
.education .serv-content .card:hover img{
    border-color: #fff;
}
.education .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/* skills section styling */

.skills .title::after{
    content: "what i know";
}
.skills .skills-content {
    text-align: center;
}
.skills .skills-content  .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content  p{
    text-align: justify;
}
/*Button commented
.skills .skills-content  a{
    display: inline-block;
    background: #003399;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #003399;
    transition: all 0.3s ease;
}
.skills .skills-content  a:hover{
    color: #003399;
    background: none;
}*/



.skills .central .card{
    margin-top: 25px;
    transform:translateX(50%);
    width: calc(50% - 25px);
    background: rgb(209, 209, 253);
    
    border-radius: 6px;
    padding: 50px 25px;
    /*cursor: pointer;*/
    transition: all 0.3s ease;
    box-shadow: 2px 2px 5px 0px rgb(24, 18, 41);
}
/*.skills .central .card:hover{
    background: #d5dff3;
    
}*/
.skills .central .card .box{
    transition: all 0.3s ease;
}
/*.skills .central .card:hover .box{
    transform: scale(1.05);
}*/
.skills .central  .card .box .bars{
    margin-bottom: 15px;
    width: 100%;
}
.skills .central  .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .central  span{
    font-weight: 500;
    font-size: 18px;
}
.skills .central  .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .central  .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #003399;
}

.central  .html::before{
    width: 90%;
}
.central  .css::before{
    width: 80%;
}
.central  .js::before{
    width: 70%;
}
.central  .php::before{
    width: 90%;
}
.central  .mysql::before{
    width: 80%;
}

/* teams section styling */
.teams .title::after{
    content: "Achievements";
}
/*card*/
.teams .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover{
    background: #003399;
}
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

}
.teams .carousel .card:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.teams .carousel .card img{
    height: 250px;
    width: 250px;
    
    object-fit: cover;
    /*border-radius: 50%;
    border: 5px solid #003399;*/
    transition: all 0.3s ease;
}
.teams .carousel .card:hover img{
    border-color: #fff;
}
/*card1*/
.teams .carousel .card1{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.teams .carousel .card1:hover{
    background: #003399;
}
.teams .carousel .card1 .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

}
.teams .carousel .card1:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card1 .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.teams .carousel .card1 img{
    height: 250px;
    width: 250px;
    
    object-fit: cover;
    /*border-radius: 50%;*/
    
    transition: all 0.3s ease;
}
.teams .carousel .card1:hover img{
    border-color: #fff;
}
/*card2*/
.teams .carousel .card2{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.teams .carousel .card2:hover{
    background: #003399;
}
.teams .carousel .card2 .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

}
.teams .carousel .card2:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card2 .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.teams .carousel .card2 img{
    height: 250px;
    width: 325px;
    
    object-fit: cover;
    /*border-radius: 50%;*/
    
    transition: all 0.3s ease;
}
.teams .carousel .card2:hover img{
    border-color: #fff;
}
/*card3*/
.teams .carousel .card3{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.teams .carousel .card3:hover{
    background: #003399;
}
.teams .carousel .card3 .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

}
.teams .carousel .card3:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card3 .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.teams .carousel .card3 img{
    height: 250px;
    width: 325px;
    
    object-fit: cover;
    /*border-radius: 50%;*/
    
    transition: all 0.3s ease;
}
.teams .carousel .card3:hover img{
    border-color: #fff;
}
/*card4*/
.teams .carousel .card4{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.teams .carousel .card4:hover{
    background: #003399;
}
.teams .carousel .card4 .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

}
.teams .carousel .card4:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card4 .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.teams .carousel .card4 img{
    height: 250px;
    width: 325px;
    
    object-fit: cover;
    /*border-radius: 50%;*/
    border: 2px solid #000000;
    transition: all 0.3s ease;
}
.teams .carousel .card4:hover img{
    border-color: #fff;
}

/*card5*/
.teams .carousel .card5{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.teams .carousel .card5:hover{
    background: #003399;
}
.teams .carousel .card5 .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

}
.teams .carousel .card5:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card5 .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.teams .carousel .card5 img{
    height: 250px;
    width: 325px;
    
    object-fit: cover;
    /*border-radius: 50%;*/
    
    transition: all 0.3s ease;
}
.teams .carousel .card5:hover img{
    border-color: #fff;
}
/*card6*/
.teams .carousel .card6{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.teams .carousel .card6:hover{
    background: #003399;
}
.teams .carousel .card6 .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

}
.teams .carousel .card6:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card6 .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.teams .carousel .card6 img{
    height: 250px;
    width: 325px;
    
    object-fit: cover;
    /*border-radius: 50%;*/
    
    transition: all 0.3s ease;
}
.teams .carousel .card6:hover img{
    border-color: #fff;
}

/*card7*/
.teams .carousel .card7{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.teams .carousel .card7:hover{
    background: #003399;
}
.teams .carousel .card7 .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

}
.teams .carousel .card7:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card7 .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.teams .carousel .card7 img{
    height: 250px;
    width: 340px;
    
    object-fit: cover;
    /*border-radius: 50%;*/
    
    transition: all 0.3s ease;
}
.teams .carousel .card7:hover img{
    border-color: #fff;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid #003399!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: #003399!important;
}

/* contact section styling */
.contact .title::after{
    content: "get in touch";
}
.contact .logo{
    text-align: center;
    margin-bottom: 40px;
}
.contact .logo a{
    font-family: 'Ubuntu',sans-serif;
    color: #003399;
    font-size: 45px;
    font-weight: 1;
}
.contact .logo a span{
    
    Font-family: "AgustinaSignature";
    padding: 0 40px;
    font-size: 45px;
    font-weight: 600;
    color: #003399;
    transition: all 0.3s ease;
    
}
.contact .contact-content {
    text-align: center;
    padding-bottom: 20px;
}
.contact .contact-content .text p{
    text-align: justify;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

/*Social icons*/
.contact .icon{
    
    margin-top: 10px;
    text-align: center;
}
.round-btn {display: inline-block;height: 50px; width: 50px; background:#fff;border-radius: 50%;margin: 10px 5px;box-shadow: 2px 2px 5px 0px rgb(82, 0, 67);border: 1px solid;/*border: 1px solid #622657;*/}
  .round-btn a {display: inline-block !important;padding: 1.6px 9px;font-size: 30px;border-radius: 50%;}
  .round-btn .icon {padding: 3px;}
  .round-btn .icon img{height: 40px; width: 40px;margin-top: 5px;}
  .btn-facebook a {color: #3b5998;padding: 1px 15px;}
  .btn-facebook a:hover{
    background: #3b5998;
    color: #fff;
  }
  .btn-linkedin a {color: #007bb6;padding: 1px 11px;}
  .btn-linkedin a:hover {
    background: #007bb6;
    color: #fff;
  }
  .btn-github a{color: #211F1F;padding: 1.1px 9.5px;}
  .btn-github a:hover{
    background: #211F1F;
    color: #fff;
  }  
  .btn-twitter a{color: #1c9deb;padding: 1px 9px;}
  .btn-twitter a:hover{
    background: #1c9deb;
    color: #fff;
  }
  .btn-instagram a{color: #dd3f5c;padding: 1px 11px;}
  .btn-instagram a:hover{
    background: #dd3f5c;
    color: #fff;
  }
  .btn-whatsapp a{color: #155E54;padding: 1px 11px;}
  .btn-whatsapp a:hover{
    background: #155E54;
    color: #fff;
  }
  .btn-envelop a{
    color: #D6403A;
    font-size: 30px; 
    padding: 1.7px 9.6px;
  }
  .btn-envelop a:hover{
    background: #D6403A;
    color: #fff;
    font-size: 30px; padding: 1px 9px;
  }
  .standard_header .standard_social_links {margin-left: 1rem;}



/*.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: #003399;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}*/
/*.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area{
  display: flex;
  align-items: center;
}
.right form .button-area button{
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: #003399;
  border: 2px solid #003399;
  transition: all 0.3s ease;
}
.right form .button-area button:hover{
  color: #003399;
  background: none;
}*/
/* footer section styling */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: #003399;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}


/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 40px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 20px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .education .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .central .card{
        transform:translateX(0%);
        width: 100%;
        margin-bottom: 35px;
    }
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;

    }
    .contact .logo a{
        font-family: 'Ubuntu',sans-serif;
        color: #003399;
        font-size: 40px;
        font-weight: 1;
    }
    .contact .logo a span{
        
        Font-family: "AgustinaSignature";
        padding: 0 40px;
        font-size: 40px;
        font-weight: 600;
        color: #003399;
        transition: all 0.3s ease;
        
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .education .serv-content .card{
        width: 100%;
    }
    .contact .logo a{
        font-family: 'Ubuntu',sans-serif;
        color: #003399;
        font-size: 35px;
        font-weight: 1;
    }
    .contact .logo a span{
        
        Font-family: "AgustinaSignature";
        padding: 0 40px;
        font-size: 35px;
        font-weight: 600;
        color: #003399;
        transition: all 0.3s ease;
        
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .text{
        font-size: 19px;
    }
   /* .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }*/
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
        .contact .logo a{
        font-family: 'Ubuntu',sans-serif;
        color: #003399;
        font-size: 25px;
        font-weight: 1;
    }
    .contact .logo a span{
        
        Font-family: "AgustinaSignature";
        padding: 0 40px;
        font-size: 25px;
        font-weight: 600;
        color: #003399;
        transition: all 0.3s ease;
        
    }
}


#preloader{
    background:#ffff url(images/ezgif-4-442126d223.gif) no-repeat center center;
    background-size: 5%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;

 }
